<div class="input-group md-form form-sm form-2 pl-0 border border-light-gray">
<input{{ attributes.addClass('form-control').addClass('my-0','border-0').addClass('py-1').removeAttribute('type').removeClass('form-text').addClass('form-search').setAttribute('type', 'search') }} />
  <div class="input-group-append">
    <button type="submit" class="input-group-text bg-white border-0" id="basic-text1"><i class="icofont icofont-search text-grey"
        aria-hidden="true"></i></button>
  </div>
</div>