.page-view-categories{
  .sidebar_first{
    background-color: #F7F7F7F7;
  }
  .main-content{
    background-color: #F9F9F9F9;
  }
}
.facets-widget-links{
  .facet-item--expanded{
    a.is-active{
      font-size: 14px;
      font-weight: 600;
    }
  }
  a{
    text-decoration: none;
    color: #666666;
    &:hover,&:focus{
      color: #666666;
      text-decoration: none;
    }
  }
}
.block-facets ul ul li {
  margin-left: 40px;
}
.facets-links >a {
    display: none;
}
.evms-mobile-nav-container {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
 }

.evms-mobile-nav {
  margin-left: -5px;
  margin-top: 0;
  padding: 8px 0 0;
  white-space: nowrap;
  a {
    text-decoration: none;
    background-color: #fff;
    border-radius: 88px;
    border: 1px solid #e96125;
    color: #e96125;
    display: inline-block;
    margin: 5px;
    padding: 8px 10px;
    &:hover{
      text-decoration: none;
    }
   }
 }
.path-categories{
 
  .main-content{
    background-color: #fff;
  }
}
 .sort_by_block{
  label{
    color: #666;
    font-size: 14px;
  }
  select{
    border: 1px solid #dbdbdb;
    color: #E96125;
    padding: 3px;
  }
}