@import "variables";
/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #eee;
  border-top: 6px solid #E96125;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #E96125;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
.frontpage > div{
  margin: 10px auto;
  background-color: #ffffff;
}
div.slick-categories{
  background-color: #ffffff;
}
.more-link{
  a{
    color: $evms-offer;
    text-decoration: none;
    &:hover,&:focus{
      color: $evms-offer;
      text-decoration: none;
    }
  }
}
.site-branding{
  a{
    color: black;
    text-decoration: none;
    &:hover,&:focus{
      color: black;
      text-decoration: none;
    }
  }
}
.slick-categories{
  a{
    color: #666666;
    text-decoration: none;
    &:hover,&:focus,&:visited{
      color: #666666;
      text-decoration: none;
    }
  }
  .slick-list{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1350px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1320px;
  }
}