@import "variables";

.frontpage > div{
  margin: 10px auto;
  background-color: #ffffff;
}
div.slick-categories{
  background-color: #ffffff;
}
.more-link{
  a{
    color: $evms-offer;
    text-decoration: none;
    &:hover,&:focus{
      color: $evms-offer;
      text-decoration: none;
    }
  }
}
.site-branding{
  a{
    color: black;
    text-decoration: none;
    &:hover,&:focus{
      color: black;
      text-decoration: none;
    }
  }
}
.slick-categories{
  a{
    color: #666666;
    text-decoration: none;
    &:hover,&:focus,&:visited{
      color: #666666;
      text-decoration: none;
    }
  }
  .slick-list{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1350px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1340px;
  }
}