@charset "UTF-8";
/*
@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}
*/
@font-face {
  font-family: "FontAwesome";
  src: url(../vendor/font-awesome/fonts/fontawesome-webfont.woff2); }

/* Slider */
.product-carousel .slick-prev,
.product-carousel .slick-next {
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  line-height: 0px;
  font-size: 1.5em;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .product-carousel .slick-prev:hover, .product-carousel .slick-prev:focus,
  .product-carousel .slick-next:hover,
  .product-carousel .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .product-carousel .slick-prev:hover:before, .product-carousel .slick-prev:focus:before,
    .product-carousel .slick-next:hover:before,
    .product-carousel .slick-next:focus:before {
      opacity: 1; }
  .product-carousel .slick-prev.slick-disabled:before,
  .product-carousel .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .product-carousel .slick-prev:before,
  .product-carousel .slick-next:before {
    font-family: "FontAwesome";
    font-size: 2em;
    line-height: 1;
    color: black;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.product-carousel .slick-prev {
  left: 10px;
  z-index: 1; }
  [dir="rtl"] .product-carousel .slick-prev {
    left: 10px;
    z-index: 1; }
  .product-carousel .slick-prev:before {
    content: ""; }
    [dir="rtl"] .product-carousel .slick-prev:before {
      content: ""; }

.product-carousel .slick-next {
  right: 10px; }
  [dir="rtl"] .product-carousel .slick-next {
    left: 10px;
    right: auto; }
  .product-carousel .slick-next:before {
    content: ""; }
    [dir="rtl"] .product-carousel .slick-next:before {
      content: ""; }

.product-carousel .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  background-color: white;
  display: none; }
  [dir="rtl"] .product-carousel .slick-slide {
    float: right; }
  .product-carousel .slick-slide img {
    display: block;
    margin: 0 auto; }
  .product-carousel .slick-slide.slick-loading img {
    display: none; }
  .product-carousel .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .product-carousel .slick-slide {
    display: block; }
  .slick-loading .product-carousel .slick-slide {
    visibility: hidden; }
  .slick-vertical .product-carousel .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-loading .slick-list {
  background: #fff url("../vendor/slick/ajax-loader.gif") center center no-repeat; }

/* Arrows */
/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 20px;
        height: 20px;
        font-family: "FontAwesome";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #333333;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #E96125;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  background-color: white;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block;
    margin: 0 auto;
    min-width: 60%;
    min-height: 250px;
    max-width: 100%;
    max-height: 400px; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
