.follow_us .fa {
  padding: 10px;
  font-size: 18px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.follow_us .fa:hover {
  opacity: 0.7; }

.follow_us .fa-facebook {
  background: #3B5998;
  color: white; }

.follow_us .fa-twitter {
  background: #55ACEE;
  color: white; }

.follow_us .fa-linkedin {
  background: #007bb5;
  color: white; }

.follow_us .fa-instagram {
  background: #125688;
  color: white; }

.commerce-product--full .product-name {
  font-size: 18px; }

.commerce-product--full .product-mrp .product-old-price div {
  display: inline; }

.commerce-product--full .selling-mrp .product-price {
  font-size: 24px;
  font-weight: 580; }
  .commerce-product--full .selling-mrp .product-price div {
    display: inline; }

.commerce-product--full .tax-text {
  font-size: 12px; }

.commerce-product--full .available-variations .product--rendered-attribute label.option {
  border: 1px solid #333333;
  border-radius: 3px;
  padding: 8px 12px 8px 12px;
  margin: 12px 16px 12px 0;
  font-size: 16px; }

.commerce-product--full .available-variations .product--rendered-attribute__selected ~ label.option {
  border: 1px solid #E96125;
  border-radius: 3px;
  color: #E96125;
  font-size: 16px; }

.commerce-product--full .available-variations legend {
  margin: 0 auto;
  font-size: 14px;
  color: #666666; }

.commerce-product--full .product-detail .product-detail-title {
  font-size: 18px;
  font-weight: 580; }

.commerce-product--full .product-detail .field__label {
  color: #333333;
  font-size: 14px;
  font-weight: 580; }

.commerce-product--full .product-detail .field__item {
  color: #666666;
  font-size: 14px;
  font-weight: 200; }

.commerce-product--full .product-detail .viewless, .commerce-product--full .product-detail .viewmore {
  color: #E96125;
  font-size: 16px;
  text-align: center; }
  .commerce-product--full .product-detail .viewless:hover, .commerce-product--full .product-detail .viewless:focus, .commerce-product--full .product-detail .viewmore:hover, .commerce-product--full .product-detail .viewmore:focus {
    color: #E96125; }

.commerce-product--full .promise-title {
  font-size: 16px;
  font-weight: 580;
  color: #37A3BE; }
  .commerce-product--full .promise-title .promise-text {
    font-size: 14px; }

.commerce-product--full .promise .promise-header {
  font-size: 18px;
  font-weight: 580; }

.row-category-page {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 0; }

.row-content {
  padding: 0px; }

.variation-block {
  padding: 10px; }
  .variation-block a {
    text-decoration: none; }
    .variation-block a:hover, .variation-block a:focus, .variation-block a:visited {
      text-decoration: none; }
  .variation-block:hover {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee; }
    .variation-block:hover .product-variation-image img {
      transform: translateY(-3px);
      transition-duration: 0.4s;
      transition-property: -webkit-transform,transform; }
  .variation-block .offer-price {
    display: inline-block;
    font-size: 14px;
    font-weight: 580;
    background-color: #51AA1B;
    color: white;
    z-index: 1;
    padding: 2px 5px;
    border: 1px solid #51AA1B;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 10px; }
  .variation-block .product-variation-image {
    margin-top: 35px;
    margin-bottom: 10px; }
    .variation-block .product-variation-image img:hover {
      transform: translateY(-3px);
      transition-duration: 0.4s;
      transition-property: -webkit-transform,transform; }
  .variation-block .product-variation-title {
    height: 38px;
    color: #666666;
    font-size: 16px; }
  .variation-block .product-variation-quantity {
    color: #999999;
    font-size: 14px;
    margin-top: 20px; }
  .variation-block .price-block {
    margin-top: 20px;
    margin-bottom: 20px; }
  .variation-block .product-variation-price {
    font-size: 16px;
    font-weight: 580;
    color: #333333;
    margin: 0 auto; }
  .variation-block .product-variation-old-price {
    font-size: 14px;
    font-weight: 200;
    color: #999999;
    margin: 0 auto; }
  .variation-block .button--add-to-cart {
    color: #E96125;
    background-color: #fff;
    border: 1px solid #E96125;
    border-radius: 64px;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px; }
    .variation-block .button--add-to-cart:hover {
      background-color: #E96125;
      color: #fff; }

body.toolbar-fixed.toolbar-tray-open .cart-offcanvas {
  padding-top: 0px; }

.cart_header {
  background-color: black;
  color: white;
  position: relative;
  min-height: 60px;
  align-items: center; }

.close_button {
  position: absolute;
  right: 0px; }
  .close_button button {
    background-color: #000;
    border: none; }

.sub_total {
  position: relative;
  min-height: 50px;
  background-color: #fff;
  align-items: center; }
  .sub_total .amount {
    position: absolute;
    right: 10px; }

.cart_items {
  position: relative; }
  .cart_items .row {
    margin-top: 5px;
    margin-bottom: 5px; }
  .cart_items .discount_percentage {
    display: inline-block;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #51AA1B;
    color: #51AA1B;
    background-color: #fff;
    border-radius: 3px; }
  .cart_items .remove_button {
    background-color: #fff;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none; }
  .cart_items .title {
    color: #666666;
    font-size: 13px; }
  .cart_items .priceblock {
    align-items: center; }
    .cart_items .priceblock .price {
      color: #666666;
      font-size: 12px;
      margin-left: 10px; }
    .cart_items .priceblock .old_price {
      color: #999999;
      font-size: 12px;
      margin-left: 2px; }
    .cart_items .priceblock input {
      width: 40px;
      border: 1px solid #51AA1B;
      border-radius: 3px; }
      .cart_items .priceblock input:hover, .cart_items .priceblock input:focus {
        border: 1px solid #51AA1B; }
    .cart_items .priceblock .total_price {
      font-size: 13px;
      font-weight: 500;
      color: #666666;
      position: absolute;
      right: 0px; }

.cart_table .table_row {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff; }

#cart-offcanvas {
  background-color: #eeeeee; }

.checkout {
  margin-top: 10px;
  width: 100%; }
  .checkout .checkout_button {
    width: 100%;
    color: #fff;
    background-color: #e96125;
    border-radius: 3px;
    font-size: 14px;
    padding: 14px 16px;
    border: 1px solid #e96125;
    cursor: pointer; }

.visit_cart, .update_cart {
  color: #fff;
  background-color: #e96125;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px 8px;
  border: 1px solid #e96125;
  cursor: pointer;
  text-align: center; }

.extra_button {
  align-items: center;
  text-align: center;
  margin-top: 10px; }

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto; }

.table-wrapper-scroll-y {
  display: block; }
