.loader {
  background: url('../img/loader.svg') 50% 50% no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /* to make it responsive */
  width: 100vw;
  /* to make it responsive */
  overflow: hidden;
  /*to remove scrollbars */
  z-index: 99999;
  /*to make it appear on topmost part of the page */
  display: none;
  /*to make it visible only on fadeIn() function */
}

svg.loader {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}
.form-group{
  margin-bottom: 0px;
}

@import "frontpage";
@import 'login';
@import "autocompletesearch";
@import "accordion";
@import "fa-social";
@import "productfullpage";
@import "productvariations";
@import "productvariationmobile";
@import "cart";
@import "ordersummary";
@import "categories";