<div class="cart--cart-block">
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="<%= url %>">
      <span class="cart-block--summary__icon"></span>
      <span class='badge badge-pill badge-evms-submit align-top ml-0' id='lblCartCount'><%= count_text %></span>
    </a>
  </div>
</div>
