<div class="container">
  <div class="sub_total row bg-white">
    <div class="sub_total_text ml-3">
      Sub Total
    </div>
    <div class="amount">
      <% print(cart.total_price.formatted) %>
    </div>
  </div>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table cart_table">
<tbody>
 <% _.each(cart.order_items, function(orderItem, key) { %>
        <tr class="my-3 bg-white">
            <td>
            <div class="cart_items container position-relative">
            <div class = "row my-2">
              <div class="discount_percentage d-inline-block py-1 px-2 border border-evms-offer bg-white text-evms-offer"><% print(orderItem.purchased_entity.field_discount_percentage) %></div>
              <div class="cart-block--offcanvas-cart-table__remove">
              <button value="<% print(JSON.stringify([cart.order_id, orderItem.order_item_id]))  %>" class=" remove_button btn bg-white"><span class="fa fa-times" style="color:black"><span></button>
            </div>
            </div>
            <div class="cart-block--offcanvas-cart-table__title title row text-dimgray"><%- orderItem.title %></div>
            <div class="row priceblock">
            <div class="cart-block--offcanvas-cart-table__quantity">
            <input type="number" min="1" name="quantity" value="<% print(parseInt(orderItem.quantity)) %>"  data-key="<% print(key) %>">
            </div>
             <div class="price text-dimgray ml-4"> X <% print(orderItem.purchased_entity.price.formatted) %></div>
             <div class="old_price text-darkgray ml-1"><del><% print(orderItem.purchased_entity.field_old_price.formatted) %></del></div>
              <div class="cart-block--offcanvas-cart-table__price total_price text-dimgray position-absolute"><%= orderItem.total_price.formatted %></div>
            </div>
            </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
</div>
<div class="cart_bottom position-absolute container px-0">
<div class="row container extra_button">
  <div class="col-6">
    <button class="visit_cart btn btn-evms-submit" onclick="location.href='/cart'">
      Visit Cart
    </button>
  </div>
  <div class="col-6">
    <button type="submit" class="cart-block--offcanvas-contents__update button btn btn-evms-submit update_cart">
      Update Cart
    </button>
  </div>
</div>
<div class="checkout container mt-2 w-100">
<button onclick="location.href='/checkout/<% print(JSON.stringify(cart.order_id)) %>'" class="checkout_button btn btn-evms-submit py-3" style="width:100%;">
<span><span style="text-align:left;">Processed to Checkout </span><span style="float:right;"><% print(cart.total_price.formatted) %> <span class="fa fa-angle-right"></span> <span></span></button>
</div>
</div>